{% extends "base.html" %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
<header>
    <h1>Sobre Nós</h1>
</header>
<main>
    <section>
        <h2>Quem Somos</h2>
        <p>A ActionSys é uma empresa dedicada a fornecer soluções inovadoras e de alta qualidade para nossos clientes. Com uma equipe experiente e apaixonada, estamos comprometidos em gerar valor e garantir que o investimento de nossos clientes tenha retorno.</p>
    </section>
    <section>
        <h2>Nossa Missão</h2>
        <p>Nossa missão é oferecer produtos e serviços que atendam às necessidades de nossos clientes, sempre com carinho e preocupação em entregar o melhor resultado possível. Acreditamos que o sucesso de nossos clientes é o nosso sucesso.</p>
    </section>
    <section>
        <h2>Nosso Compromisso</h2>
        <p>Estamos comprometidos em garantir que cada projeto seja executado com excelência, proporcionando um retorno significativo sobre o investimento de nossos clientes. Valorizamos a confiança depositada em nós e trabalhamos arduamente para superá-la.</p>
    </section>
    <section>
        <h2>Visite Nosso Site</h2>
        <p>Para saber mais sobre nossos serviços e soluções, visite nosso site em: <a href="https://actionsys.com.br/" target="_blank">https://actionsys.com.br/</a></p>
    </section>
</main>
{% endblock %}